<!DOCTYPE html>
<html lang="en">
  <head>
    {%  load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seguimiento ciudadano - {% block title %}</title>
    <!-- static assets -->
	<link rel="icon" type="image/x-icon" href="{% static 'polls/img/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'polls/css/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'polls/css/lobe.css' %}">
	<script src="{% static 'polls/css/bootstrap/js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'polls/js/jquery-3.6.4.js' %}"></script>
	<script defer src="{% static 'polls/css/FontAwesomePro/all.js' %}"></script>
	<script defer src="{% static 'polls/js/lobe.js' %}"></script>
	<link rel="stylesheet" href="{% static 'polls/Fonts/AvenirNextPro/stylesheet.css' %}" />
	<link rel="stylesheet" href="{% static 'polls/Fonts/LabGrotesque/stylesheet.css' %}" />
	<link rel="stylesheet" href="{% static 'polls/css/animate.css' %}" />
  </head>
  <body>
  <div id="BodyWrapper">
    {% include 'polls/navbar.html' %}

    <div class="allcontent">
       {% block content %}
        {% endblock %}
    </div>

  </div>
    {% include 'polls/footer.html' %}
  </body>
</html>