<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seguimiento ciudadano - {% block title %} {% endblock %}</title>
    <!-- static assets -->
	<link rel="icon" type="image/x-icon" href="{% static 'seguimiento_ciudadano/img/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'seguimiento_ciudadano/css/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'seguimiento_ciudadano/css/lobe.css' %}">
	<script src="{% static 'seguimiento_ciudadano/css/bootstrap/js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'seguimiento_ciudadano/js/jquery-3.6.4.js' %}"></script>
	<script defer src="{% static 'seguimiento_ciudadano/css/FontAwesomePro/all.js' %}"></script>
	<script defer src="{% static 'seguimiento_ciudadano/js/lobe.js' %}"></script>
	<link rel="stylesheet" href="{% static 'seguimiento_ciudadano/Fonts/AvenirNextPro/stylesheet.css' %}" />
	<link rel="stylesheet" href="{% static 'seguimiento_ciudadano/Fonts/LabGrotesque/stylesheet.css' %}" />
	<link rel="stylesheet" href="{% static 'seguimiento_ciudadano/css/animate.css' %}" />
  <link href="{% static 'seguimiento_ciudadano/js/DataTables/datatables.min.css' %}" rel="stylesheet">
  <script src="{% static 'seguimiento_ciudadano/js/DataTables/datatables.min.js' %}"></script>

</head>
  <body>
  <div id="BodyWrapper">
    {% include 'seguimiento_ciudadano/navbar.html' %}

    <div class="allcontent">
       {% block content %}
        {% endblock %}
    </div>

  </div>
    {% include 'seguimiento_ciudadano/footer.html' %}
  </body>
</html>