<div class="header-container">
    <div class="header-menu-mobile" style="height: 80px; box-shadow: rgba(0, 0, 0, 0) 0px 30px 60px -10px">
        <div class="header-menu-blur"></div>
        <div class="mobile-nav-container" style="transform: scale(1); opacity: 0; transform-origin: left center;">
            <nav class="header-nav">
                <a class="nav-link" href="/">
                    <div>Inicio</div>
                </a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'seguimiento_ciudadano:Logout' %}">
                    <div>Logout</div>
                </a>
                {% else %}
                <a class="nav-link" href="{% url 'seguimiento_ciudadano:Iniciar sesión' %}">
                    <div>Ingresar</div>
                </a>
                <a class="nav-link" href="{% url 'seguimiento_ciudadano:Registro Usuario' %}">
                    <div>Regístrate</div>
                </a>
                {% endif %}
            </nav>
        </div>
        <div class="header-menu-download-button-container" style="opacity: 1; transform: scale(1);">                                  

        </div>
    </div>
    <div class="header-content">
        <a class="header-logo" href="#">
            {%  load static %}
            <img class="header-logo-regular" src="{% static 'seguimiento_ciudadano/img/LogoSecretaria.png'%} " alt="logo_chih">
            <img class="header-logo-small" src="{% static 'seguimiento_ciudadano/img/logo_chih.png' %}" alt="logo_chih">
        </a>
        <div class="header-nav">
            <a class="nav-link" href="/">
                <div>Inicio</div>
            </a>
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'seguimiento_ciudadano:Logout' %}">
                    <div>Cerrar Sesión</div>
                </a>
            {% else %}
            <a class="nav-link" href="{% url 'seguimiento_ciudadano:Iniciar sesión' %}">
                <div>Ingresar</div>
            </a>
            <a class="nav-link" href="{% url 'seguimiento_ciudadano:Registro Usuario' %}">
                <div>Regístrate</div>
            </a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn header-download-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-duotone fa-user-alien fa-2x me-3"></i> Bienvenido, {{ user.get_username }}
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button"><a class="nav-link" href="/admin"> Administrador </a></button></li>
                    <li><button class="dropdown-item" type="button"><a class="nav-link" href="{% url 'seguimiento_ciudadano:Logout' %}"> Cerrar sesión </a></button></li>
                  </ul>
            </div>
            {% else %}
                <button class="btn">
                    <a class="nav-link" href="{% url 'seguimiento_ciudadano:Iniciar sesión' %}"> Iniciar sesión</a>
                </button>
            {% endif %}
            <button class="header-menu-button" aria-label="Menu Button">
                <div class="hamburger"><span></span></div>
            </button>
        </div>
    </div>
</div>